<% provide(:title, 'Rado Rakotondrabe | Home') %>
<div class="jumbotron jumbotron-fluid my-screen">
  <div class="container">
    <h2 class="lead mt-5">Hello, my name is</h2>
    <h1 class="display-4 mt-2">Rakotondrabe Rado</h1>
    <h2 class="lead">I am a Web developer | Photographer.</h2>
    <div class="container">
        <a class="js-scrollTo" href="#concept"><button type="button" class="btn btn-outline-primary btn-lg mt-3">View my portfolio</button></a>
        <a class="js-scrollTo" href="#services"><button type="button" class="btn btn-outline-primary btn-lg mt-3">View my services</button></a>
    </div>
  </div>
</div>
<main>
<div id="concept" class="container mt-5 mb-5">
    <h2>My portfolio</h2>
    <div class="my-row">    
            <div class="card border-light mb-3 mr-3 shadow-lg">
                <div class="card-header">Pixeloo (e-commerce, MVP, Ruby on rails, html, css)</div>
                <div class="card-body">                        
                        <p class="lead card-text">Pixeloo project is an MVP e-commerce application. Made with Ruby on rails, HTML5 and CSS and many more technical functionalities such as online user authenticate, online paiment and automailing </p>
                        <a class="nav-link" href="http://pixeloosave.herokuapp.com">see more...</a>
                </div>
            </div>

            <div class="card border-light mb-3 mr-3 shadow-lg">
            <div class="card-header">Ukuaji (Bootstrap, Ruby on rails, online checkup)</div>
                <div class="card-body">
                    <p class="lead card-text">Ukuaji is a NGO web page's project. Work is still in progress with more fonctionalities (online paiment and subscription...).</p>
                    <a class="nav-link" href="http://ukuaji.herokuapp.com/home/index">see more...</a>
                </div>
            </div>
                
            <div class="card border-light mb-3 shadow-lg">
                <div class="card-header">Alliance francaise Kampala (Bootstrap, Mailchimp, Ruby on rails)</div>
                <div class="card-body">
                    <p class="lead card-text">As photographer, this project was made in collaboration with Alliance francaise of Kampala introducing my 2019 workshop photography</p>                    
                    <a class="nav-link" href="http://projetafk.herokuapp.com/">see more...</a>
                </div>
            </div>
    </div>
</div>
<hr>
<div id="skills" class="container mt-5 mb-5">
    <div class="my-row">
        <div id="skills" class="container mt-5 mb-5">
            <h2>My skills</h2>
            <h4 class="text-right">Website development</h4>
            <div class="progress mt-2" style="height: 10px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
            </div>
            <h4 class="text-right mt-2">Digital marketing</h4>
            <div class="progress mt-2" style="height: 10px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
            </div>            
            <h4 class="text-right mt-2">Photography</h4>
            <div class="progress mt-2" style="height: 10px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 97%"></div>
            </div>
            <h4 class="text-right mt-2">French speaking / writing</h4>
            <div class="progress mt-2" style="height: 10px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <h4 class="text-right mt-2">English speaking / writing</h4>
            <div class="progress mt-2" style="height: 10px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
            </div>            
        </div>
        <div class="card border-light mb-3 mr-3 shadow-lg">
            <div class="card-header"><h2>About me</h2></div>
            <div class="card-body">                
                <p class="lead card-text">For many years I've been working as a software developer for large and small businesses in Paris. In the meantime, I have also started my own business as wedding professional photographer.</p>
                <p class="lead card-text">Today as I moved from Paris to Kampala with my family, it is with enthusiasm, passion and creativity that I put all my energy and my experience at your service. </p>
            </div>
        </div>
    </div>

</div>
<hr>
<div id="services" class="container mt-5 mb-5">
    <h2>My services</h2>
    <div class="my-row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-website-tab" data-toggle="pill" href="#v-pills-website" role="tab" aria-controls="v-pills-home" aria-selected="true">Website</a>
            <a class="nav-link" id="v-pills-marketer-tab" data-toggle="pill" href="#v-pills-marketer" role="tab" aria-controls="v-pills-profile" aria-selected="false">Digital marketing</a>                
            <a class="nav-link" id="v-pills-photo-tab" data-toggle="pill" href="#v-pills-photo" role="tab" aria-controls="v-pills-settings" aria-selected="false">Photography </a>
        </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8">

            <div class="tab-content container mt-2" id="v-pills-tabContent">
                <div class="tab-pane fade show active justif" id="v-pills-website" role="tabpanel" aria-labelledby="v-pills-home-tab">                
                    <ul>
                        <li>You already have a website but you want to give it a fresh new look ?</li>
                        <li>You are starting a new business/brand and you want to design your first website ?</li>
                        <li>As a startup, you need to implement your MVP ?</li> 
                        <li>You already have your website/blog but you need some training on how to use/update it?</li>                 
                    <ul>
                </div>
                <div class="tab-pane fade justif" id="v-pills-marketer" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    If you are an online business maker, having a nice website design is pretty cool but worthless without any growing strategy. That's when "digital marketing" takes meaning. After studying your problematics and needs, we can implement solutions to raise your online traffic and help you to get more interactions with your target audience. Such as ...<br/>
                    <ul>
                        <li>SEO</li>
                        <li>Social media management</li>
                        <li>Marketing automation</li>                                                                       
                    <ul>
                </div>
                <div class="tab-pane fade justif" id="v-pills-photo" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                Whatever your trade, artist, craftsman or other, your image must reflect your brand and must be properly made. With more than 10 years of experience in photography, We propose <br/>
                    <ul>
                        <li><a href="https://bit.ly/2llZQY6">Workshop</a></li>
                        <li>Corporate event</li>
                        <li>Professional portrait</li>                                                                       
                    <ul>
                </div>                              
            </div>
        </div>
    </div>
</div>
<hr>
<div id="services" class="container mt-5 mb-5">
    
    <div class="my-row">
        <span style="font-size: 3em; color: Tomato;">
            <i class="text-center fas fa-at"></i>
        </span>    
        <span class="ml-5" style="font-size: 3em; color: Tomato;">
        <i class="fas fa-mobile-alt"></i>
        </span>        
    </div>
    <div class="my-row">
        <p>ratsimisampy@gmail.com</p>
        <p class="ml-5">+256 774 624 328</p>
    </div>
</div>
</main>