<% provide(:title, 'Rado Rakotondrabe | Home') %>
<div class="jumbotron jumbotron-fluid my-screen">
  <div class="container">
    <h2 class="lead mt-5">Hello, my name is</h2>
    <h1 class="display-4 mt-2">Rakotondrabe Rado</h1>
    <h2 class="lead">I am back & front end  |  Web developper  |  Photographer.</h2>
    <a class="js-scrollTo" href="#concept"><button type="button" class="btn btn-outline-primary btn-lg mt-3">View my portfolio</button></a>
  </div>
</div>
<main>
<div id="concept" class="container mt-5 mb-5">
<h2>My portfolio</h2>
<div class="my-row">    
            <div class="card border-light mb-3 mr-3 shadow-lg">
                <div class="card-header">Pixeloo (e-commerce)</div>
                <div class="card-body">                        
                        <p class="lead card-text">Pixeloo project is an MVP e-commerce application. Made with Ruby on rails, HTML5 and CSS and many more technical functionalities such as online user authenticate, online paiment and automailing </p>
                        <a class="nav-link" href="http://pixeloosave.herokuapp.com">see more...</a>
                </div>
            </div>

            <div class="card border-light mb-3 mr-3 shadow-lg">
            <div class="card-header">Ukuaji (Single page with bootstrap)</div>
                <div class="card-body">
                    <p class="lead card-text">Ukuaji is a NGO web page's project. Work is still in progress with more fonctionalities (online paiment and subscription...).</p>
                    <a class="nav-link" href="http://ukuaji.herokuapp.com/home/index">see more...</a>
                </div>
            </div>
                
            <div class="card border-light mb-3 shadow-lg">
                <div class="card-header">Landing page for Alliance francaise Kampala</div>
                <div class="card-body">
                    <p class="lead card-text">As photographer, this project was made in collaboration with Alliance francaise of Kampala introducing my 2019 workshop photography</p>                    
                    <a class="nav-link" href="http://projetafk.herokuapp.com/">see more...</a>
                </div>
            </div>
    </div>
    <hr>
    <div class="my-row">
        <div id="skills" class="container mt-5 mb-5">
            <h2>My skills</h2>
            <h4 class="text-right">Ruby on rails</h4>
            <div class="progress mt-2" style="height: 10px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
            </div>
            <h4 class="text-right mt-2">Html 5 / CSS / Bootstrap</h4>
            <div class="progress mt-2" style="height: 10px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
            </div>            
            <h4 class="text-right mt-2">Javascript</h4>
            <div class="progress mt-2" style="height: 10px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
            </div>
            <h4 class="text-right mt-2">POO</h4>
            <div class="progress mt-2" style="height: 10px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
            </div>
            <h4 class="text-right mt-2">UI Design</h4>
            <div class="progress mt-2" style="height: 10px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            </div>
            <h4 class="text-right mt-2">SEO</h4>
            <div class="progress mt-2" style="height: 10px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            </div>
        </div>
        <div class="card border-light mb-3 mr-3 shadow-lg">
            <div class="card-header"><h2>About me</h2></div>
            <div class="card-body">
                <p class="lead card-text">Anthousiaste, passionne et creatif, je mets a disposition toute mon energie et mon experience au service de votre entreprise. </p>                                    
            </div>
        </div>
    </div>
    <hr>
    <h2>My services</h2>
    <div class="row">
        <div class="col-lg-4 col-md-6 border-right border-bottom ">Web Development</div>
        <div class="col-lg-4 col-md-6 border-right border-bottom ">Web Design</div>
        <div class="col-lg-4 col-md-6 border-right border-bottom ">Social Media</div>
        <div class="col-lg-4 col-md-6 border-right ">Photography</div>
        <div class="col-lg-4 col-md-6 border-right ">Digital Project Management</div>
        <div class="col-lg-4 col-md-6 border-right ">SEO</div>
    </div>
</div>

</main>