<% provide(:title, 'Rado Rakotondrabe | Home') %>
<div class="jumbotron jumbotron-fluid my-screen">
  <div class="container">
    <h2 class="lead">Hello, my name is</h2>
    <h1 class="display-4 mt-2">Rakotondrabe Rado</h1>
    <h2 class="lead">I am back & front end  |  Web developper  |  Photographer.</h2>
    <a class="js-scrollTo" href="#concept"><button type="button" class="btn btn-outline-primary btn-lg mt-3">View my portfolio</button></a>
  </div>
</div>
<main>
<div id="concept" class="container mt-5 mb-5">
<h2>My portfolio</h2>
<div class="row-1">            
            <div class="card border-primary mb-3 mr-3 shadow-lg">
                <div class="card-header">Pixeloo (e-commerce)</div>
                <div class="card-body">                        
                        <p class="lead card-text">Pixeloo project is an MVP e-commerce application. Made with Ruby on rails, HTML5 and CSS and many more technical functionalities such as online user authenticate, online paiment and automailing </p>
                        <a class="nav-link" href="http://pixeloosave.herokuapp.com">see more...</a>
                </div>
            </div>

            <div class="card border-success mb-3 mr-3 shadow-lg">
            <div class="card-header">Ukuaji (Single page with bootstrap)</div>
                <div class="card-body">
                    <p class="lead card-text">Ukuaji is a NGO web page's project. Work is still in progress with more fonctionalities (online paiment and subscription...).</p>
                    <a class="nav-link" href="http://ukuaji.herokuapp.com/home/index">see more...</a>
                </div>
            </div>
                
            <div class="card border-warning mb-3 shadow-lg">
                <div class="card-header">Landing page for Alliance francaise Kampala</div>
                <div class="card-body">
                    <p class="lead card-text">As photographer, this project was made in collaboration with Alliance francaise of Kampala introducing my 2019 workshop photography</p>                    
                    <a class="nav-link" href="http://projetafk.herokuapp.com/">see more...</a>
                </div>
            </div>
    </div>
</div>
</main>