<hr>
<div class="my-row">
    <div id="skills" class="container mt-5 mb-5">
        <h2>My skills</h2>
        <div class="progress mt-3" style="height: 10px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
        <div class="progress mt-3" style="height: 10px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
        </div>
    </div>
    <div class="card border-primary mb-3 mr-3 shadow-lg">
        <div class="card-header">Landing page for Alliance francaise Kampala</div>
        <div class="card-body">
            <p class="lead card-text">As photographer, this project was made in collaboration with Alliance francaise of Kampala introducing my 2019 workshop photography</p>                    
            <a class="nav-link" href="http://projetafk.herokuapp.com/">see more...</a>
        </div>
    </div>
</div>